/**************/
/*** Commun ***/
/**************/

/*** Polices ***/
@font-face
{
    font-family: 'jost_hairline';
    src: url('/includes/fonts/Jost/Jost-100-Hairline.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-100-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_hairline_italic';
    src: url('/includes/fonts/Jost/Jost-100-HairlineItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-100-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_thin';
    src: url('/includes/fonts/Jost/Jost-200-Thin.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-200-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_thin_italic';
    src: url('/includes/fonts/Jost/Jost-200-ThinItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-200-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_light';
    src: url('/includes/fonts/Jost/Jost-300-Light.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-300-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_light_italic';
    src: url('/includes/fonts/Jost/Jost-300-LightItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-300-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_regular';
    src: url('/includes/fonts/Jost/Jost-400-Book.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-400-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_regular_italic';
    src: url('/includes/fonts/Jost/Jost-400-BookItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-400-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_medium';
    src: url('/includes/fonts/Jost/Jost-500-Medium.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-500-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_medium_italic';
    src: url('/includes/fonts/Jost/Jost-500-MediumItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-500-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_semi_bold';
    src: url('/includes/fonts/Jost/Jost-600-Semi.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-600-Semi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_semi_bold_italic';
    src: url('/includes/fonts/Jost/Jost-600-SemiItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-600-SemiItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_bold';
    src: url('/includes/fonts/Jost/Jost-700-Bold.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-700-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_bold_italic';
    src: url('/includes/fonts/Jost/Jost-700-BoldItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-700-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_heavy';
    src: url('/includes/fonts/Jost/Jost-800-Heavy.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-800-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_heavy_italic';
    src: url('/includes/fonts/Jost/Jost-800-HeavyItalic.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-800-HeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_black';
    src: url('/includes/fonts/Jost/Jost-900-Black.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-900-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'jost_black_italic';
    src: url('/includes/fonts/Jost/Jost-900-Black.otf') format('opentype'),
         url('/includes/fonts/Jost/Jost-900-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*** Général ***/
html
{
    height: 100%;
}

body
{
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: white;
}

a:link, a:visited, a:hover, a:active
{
    outline: none;
    text-decoration: none;
}

input:focus, textarea:focus
{
    outline: none;
}

/*** Menu ***/
nav
{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: white;
    filter: drop-shadow(0 0 0.3vh #7c7c7c);
}

.lien_nav
{
    display: flex;
    width: calc(100% / 6);
    height: 10vh;
    flex-grow: 1;
    align-items: center;
    background-color: white;
}

.image_lien_nav
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 2vh);
    max-height: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
}

/*** Entête ***/
header
{
    display: block;
    width: 100%;
    height: 10vh;
    background-color: white;
}

/*** Contenu ***/
section:not(.section_index)
{
    display: block;
    width: 100%;
    min-height: 75vh;
    height: 100%;
    background-color: white;
}

article:not(.article_index)
{
    display: block;
    width: 100%;
    background-color: white;
}

/*** Pied de page ***/
footer
{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 5vh;
    background-color: white;
    box-shadow: 0 0 0.3vh #7c7c7c;
}

.version
{
    float: left;
    padding-left: 2vh;
    padding-right: 2vh;
    line-height: 5vh;
    font-family: jost_light, Verdana, sans-serif;
    font-size: 2vh;
    color: #262626;
}

.copyright
{
    float: right;
    padding-left: 2vh;
    padding-right: 2vh;
    line-height: 5vh;
    font-family: jost_light, Verdana, sans-serif;
    font-size: 2vh;
    color: #262626;
}